@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoH.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoT.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('../assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

:root {
    --bs-body-font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif; !important;
}

body {
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", "sans-serif"; !important;
    color: #e2e2e9;
    background-image: url('../images/jinx-arcane.jpg');
    background-repeat: no-repeat;
}

.sidebar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #000914);
    padding: 20px;
    min-width: 280px;
    flex-shrink: 0;
}
.sidebar a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: rgb(226,226,223);
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.sidebar a:hover, .sidebar a.active {
    background: rgba(26, 41, 74, 0.4);
    color: #e2e2e9;
}
.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.content-section {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

.match-history {
    max-width: 1000px !important;
}

.card {
    background: linear-gradient(to bottom, rgba(26, 41, 74, 0.4), #000914);
    border: none;
    border-radius: 8px;
    padding: 20px;
    color: white;

}

.inner-card {

}

.content {
    background-repeat: no-repeat;
    background-size: cover
}


.sidebar a.logo {
    margin: 0;
    padding: 12px;
    width: auto;
    display: inline-block;
    text-align: center;
}

.sidebar a.logo:hover {
    background: #1a294a;
}

.sidebar a.logo img {
    display: block;
    margin: 0 auto;
}

.sidebar a.admin {
    background: rgba(58, 140, 255, 0.5);
}
.sidebar a.admin:hover {
    background: rgba(58, 140, 255, 1);
}


/* 테이블 */
.table {
    background: linear-gradient(to bottom, rgba(26, 41, 74, 0.4), #000914); /* 카드 배경과 동일 */
    border: none;
    border-radius: 8px;
    color: white;
    overflow: hidden;
}

.table th {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2); /* 열 구분선 */
}

.table th:last-child {
    border-right: none; /* 마지막 열의 구분선을 제거 */
}

.table td {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* 열 구분선 */
}

.table td:last-child {
    border-right: none; /* 마지막 열의 구분선을 제거 */
}

.table tr:hover {
    background: rgba(58, 140, 255, 0.2);
    transition: background 0.2s ease;
}

.table thead {
    position: sticky; /* 헤더를 고정 (스크롤 시 상단에 유지됨) */
    top: 0;
    z-index: 1;
}


.table-responsive {
    background: linear-gradient(to bottom, rgba(26, 41, 74, 0.4), #000914); /* 컨테이너 반투명 배경 */
    border-radius: 8px; /* 컨테이너 모서리 둥글게 */
    padding: 10px;
}
